h1 {
    color: #2d537c;
}
.home-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.favorite-container div{
    margin: 5px;
    margin-bottom: 10px;
    width: 800px;
    height: 200px;
    border: 2px solid #fccc54;
    background-color: #ffe093;
}

.recent-note-container {
    margin: 0 auto;
    width: 800px;
    height: 300px;
    border: 2px solid #5a97d8;
    background-color: #7dbcff;
}

.note-and-pikachu-container {
    display: flex;
    flex-direction: row;
    width: 120%;
}

.note {
    text-align: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5px
}

.note-title {
    color: #444;
    text-shadow: -.05px .05px 0 white,
    1px 1px 0 white,
   1px -1px 0 white,
  -1px -1px 0 white;
    font-weight: bolder; 
    font-size: 25px;
    padding-bottom: 10px;
}

.created-date {
    color: #444;
    font-weight: bold;
    padding-bottom: 10px;
}

.note-body {
    color: #444;
    font-weight: bold;
}
.pika-container {
    border: solid 2px black;
}
.pikachu-waving{
    width: 23%;
    margin: 0 auto;
    padding: 0px;

}
