h1 {
    color: #2d537c;
}
.home-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.favorite-container div{
    margin: 5px;
    margin-bottom: 10px;
    width: 800px;
    height: 200px;
    border: 2px solid #fccc54;
    background-color: #ffe093;
}

.recent-note-container {
    margin: 0 auto;
    width: 800px;
    height: 300px;
    border: 2px solid #5a97d8;
    background-color: #7dbcff;
}

.note-and-pikachu-container {
    display: flex;
    flex-direction: row;
    width: 110%;
}

.note {
    text-align: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5px
}

.note-title {
    color: #444;
    text-shadow: -.05px .05px 0 white,
    1px 1px 0 white,
   1px -1px 0 white,
  -1px -1px 0 white;
    font-weight: bolder; 
    font-size: 25px;
    padding-bottom: 10px;
}

.created-date {
    color: #444;
    font-weight: bold;
    padding-bottom: 10px;
}

.note-body {
    color: #444;
    font-weight: bold;
}
.pika-container {
}
.pikachu-waving{
    width: 23%;
    margin: 0 auto;
    padding: 0px;

}

@media (max-width: 1200px) {
    
    .favorite-container div{
        width: 600px;
    }

    .recent-note-container {
        width: 600px;
    }

    .note-and-pikachu-container {
        width: 110%;
    }

}
@media (max-width: 1000px) {

}

@media (max-width: 800px) {
    .favorite-container div{
        width: 500px;
    }

    .recent-note-container {
        width: 500px;
    }
    .note-and-pikachu-container {
        width: 100%;
    }
    .favorite-container div{
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    .recent-note-container {
        margin: 0 auto;
        height: 350px;
    }

    .pikachu-waving{
        border-top: solid 100px transparent;
        width: 30%;
        height: 30%;
        margin: 0 auto;
        padding: 0px;
    
    }
}

@media (max-width: 730px) {

}

@media (max-width: 570px) {

}
