.dash-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
}

.sidebar {
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
}

.center-content {
    display: flex;
    flex-direction: row;
}

.component-container {
    width: 100%;
    margin-left: 20px
}

@media (max-width: 1200px) {
    .dash-container {
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 1000px) {
    .dash-container {
        width: 100%;
    }
}

@media (max-width: 800px) {
}

@media (max-width: 730px) {
    .center-content {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 570px) {

}